@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Nunito:wght@400;500;600&display=swap");

:root {
  --font-title: "Poppins", sans-serif;
  --font-text: "Nunito", sans-serif;

  --primary-color: #c2410c; /* orange bata (hangat, makanan tradisional) */
  --secondary-color: #facc15; /* kuning kunyit */
  --dark-color: #1f2937; /* heading */
  --text-color: #6b7280; /* paragraf */
  --bg-color: #eee9e0d3; /* background cream lembut */
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  border-bottom: 2px solid #cccfd654;
  background-color: #ffffff;
  position: sticky;
  z-index: 999;
  top: 0;
  backdrop-filter: blur(5px);
}

.navbar .nav-wrapper {
  display: flex;
  margin: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu {
  display: flex;
  gap: 30px;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo i {
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
  color: #ffffff;
  padding: 7px;
  border-radius: 7px;
  font-size: 1.7rem;
}

.logo span {
  font-size: 1.5rem;
  font-family: var(--font-title);
  color: #f13d06ce;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-wrapper .menu-toggle {
  display: none; /*di ukuran dekstop si hamburger menunya itu akan hilang dan muncul lagi di ukuran 768px*/
}

.nav-wrapper .menu .menu-link {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #595f6b;
  display: flex;
  margin-top: 5px;
}

.nav-wrapper .menu .menu-link:hover {
  color: #ff3c00cb;
}

.mens-wrapper {
  margin-left: auto;
  margin-right: 32px;
}

.mobile-btn {
  display: none;
}

.btn-order {
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
  padding: 14px 30px;
  border-radius: 40px;
  transition: transform 0.2s ease;
  margin-top: 3px;
}

.btn-order:hover {
  transform: scale(1.06);
}

.btn-order h4 {
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fffaf0;
}

/* home start */

.home {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(../img/background-image.png);
  background-position: center;
  background-size: cover;
  padding: 169px 0;
}

.home-wrapper {
  max-width: 650px;
  flex-direction: column;
  display: flex; /*sebenarnya ituu udah horizontal berjejer ke samping dan dikarenakan aku pakai flex-direction column itu dia berjejer vertical*/
  color: #fffaf0;
  gap: 10px;
  margin-top: -50px;
}

.title-icon {
  background-color: rgba(255, 122, 24, 0.15);
  display: flex;
  gap: 5px;
  width: 40%;
  justify-content: center;
  border-radius: 25px 25px;
  padding: 10px 14px;
  border: 1.2px solid #ff78183a;
}

.title-icon i {
  font-size: 19px;
  color: #ff9a3c;
}

.title-icon span {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  margin-top: 2px;
  color: #ff9a3c;
}

.title-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
}

.heading-home {
  font-size: 4.3rem;
  font-family: "Inter", sans-serif;
}

.heading-home span {
  color: #ff6a1a;
}

.subheading-desc {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--bg-color);
  font-weight: 400;
}

.home-button {
  display: flex;
  gap: 18px;
  margin-top: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.btn-menu {
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
  padding: 16px 28px;
  border-radius: 50px;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  transition: transform 0.2s ease;
}

.btn-menu:hover {
  transform: scale(1.08);
}

.btn-reservasi {
  background-color: #ffffff27;
  padding: 16px 18px;
  border-radius: 50px;
  border: 1px solid #ffffff41;
  backdrop-filter: blur(3px);
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
}

.btn-reservasi:hover {
  background-color: #ffffff38;
}

.home-stats {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap; /*kenapa aku kasih flex-wrap wrap? karena aku mau turunin si info3 itu agar turun di bawahnya info1 jadi di mobile 460px itu aku kasih flex 0 0 48%*/
}

.info-home1 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.info-home1 i {
  background: linear-gradient(135deg, #ff781841, #ff3c002d);
  backdrop-filter: blur(4px);
  color: #facc1596;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
}

.info-home2 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.info-home2 i {
  background: linear-gradient(135deg, #ff781841, #ff3c002d);
  backdrop-filter: blur(4px);
  color: #facc1596;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
}

.info-home3 {
  display: flex;
  align-items: center;
  gap: 7px;
}

.info-home3 i {
  background: linear-gradient(135deg, #ff781841, #ff3c002d);
  backdrop-filter: blur(4px);
  color: #facc1596;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
}

.text {
  line-height: 1.3;
}

.text strong {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
}

.text p {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: var(--bg-color);
}

/* home end */

/* menu start */

.menu1 {
  background-color: #f1f2f577;
}

.menu-wrapper {
  margin: 0 auto;
  padding: 80px 20px;
}

.text-menu,
.title-menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-menu {
  background: linear-gradient(135deg, #ff6b028f, #ff99003d);
  color: #c2400c;
  margin: auto;
  width: 100%;
  max-width: 135px;
  padding: 8px;
  border-radius: 40px;
}

.text-menu strong {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 550;
}

.title-menu {
  margin-bottom: 50px;
  margin-top: 8px;
}

.heading-menu {
  font-size: 3.3rem;
  font-family: "Inter", sans-serif;
}

.subheading-menu {
  line-height: 1.3;
  font-size: 1.2rem;
  width: 100%;
  max-width: 630px;
  font-family: "Inter", sans-serif;
  margin: auto;
  color: #4b5563;
  margin-top: 5px;
}

.menu-list {
  max-width: 1200px;
  margin: 0 auto;
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu-card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s ease;
}

.menu-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.menu-image {
  overflow: hidden;
  position: relative;
}

.menu-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.menu-card:hover .menu-image img {
  transform: scale(1.18);
}

.badge-kategori {
  position: absolute;
  top: 12px;
  padding: 4px 12px;
  background-color: #f97316;
  backdrop-filter: blur(3px);
  left: 12px;
  border-radius: 40px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.badge-pedas {
  display: flex;
  gap: 3px;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 4px 12px;
  background-color: #f34646da;
  border-radius: 40px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.menu-body {
  padding: 10px 20px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.menu-title h3 {
  width: 70%;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: var(--dark-color);
}

.menu-title span {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.rating {
  background: linear-gradient(135deg, #ff78181c, #ff990023);
  padding: 3px 6px;
  border-radius: 40px;
}

.rating i {
  font-size: 1.09rem;
  font-weight: 400;
  color: #f59e0b;
}

.menu-desc {
  font-size: 0.91rem;
  font-family: "Inter", sans-serif;
  color: #4b5563;
  line-height: 1.3;
}

.menu-footer {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.price-value .currency {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #f13d06ce;
}

.price-value strong {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #f13d06ce;
}

.menu-footer a {
  font-size: 0.81rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
  padding: 6px 16px;
  border-radius: 40px;
  transition: transform 0.3s ease;
}

.menu-footer a:hover {
  transform: scale(1.08);
}

.pagination {
  display: flex;
  justify-content: end;
  margin-top: 25px;
  gap: 2px;
}

.pagination button {
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px solid;
  background: linear-gradient(135deg, #ff7818b7, #ff3c00c4);
  color: #ffffff;
}

.pagination button:hover {
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
}
/* menu end */

/* spesial start */

.spesial-wrapper {
  padding: 80px 20px;
  margin: 0 auto;
}

.text-spesial {
  display: flex;
  gap: 6px;
  justify-content: center;
  background: linear-gradient(135deg, #ff6b023b, #ff990031);
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 40px;
}

.text-spesial strong {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #c2410c;
}

.text-spesial i {
  color: #c2410c;
  font-size: 1.1rem;
  margin-top: 1px;
}

.title-spesial {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.heading-spesial {
  font-size: 3.3rem;
  font-family: "Inter", sans-serif;
}

.subheading-spesial {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  color: #4b5563;
  max-width: 650px;
  margin: 10px auto;
  line-height: 1.4;
}

.project-spesial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
  gap: 30px;
}

.spesial-card {
  background-color: rgba(255, 127, 80, 0.123);
  padding: 30px;
  border-radius: 10px;
}

.spesial-card:hover {
  transition: 0.3s ease;
  box-shadow: 4px 9px 9px rgba(0, 0, 0, 0.2);
}

.spesial-icon {
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
  width: 50%;
  max-width: 45px;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
}

.spesial-icon i {
  font-size: 1.3rem;
  color: #fffaf0;
}

.text-card {
  margin: 15px auto;
}

.heading-text {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

.subheading-text {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  margin-top: 10px;
  color: #4b5563;
  width: 89%;
}

/* spesial end */

/* about start */

.about {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.about-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 20px;
  border-radius: 25px;
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
}

/* gambar kiri background-about */
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* bagian deskripsi kanan nya */
.about-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.heading-about {
  font-size: 2.6rem;
  font-family: "Inter", sans-serif;
}

.subheading-about {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  max-width: 100%;
  margin: 20px 0;
  color: #d7dadf;
}

.body-about {
  max-width: 1200px;
  display: flex;
  gap: 20px;
}

.body-about span {
  background-color: #ffffff52;
  border-radius: 40px;
  padding: 10px 22px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

/* about end */

/* aboutme start */

.aboutme {
  background-color: #f1f2f577;
}

.aboutme-wrapper {
  padding: 80px 20px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

.aboutme-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.badge-aboutme {
  background: linear-gradient(135deg, #ff6b023b, #ff990031);
  color: #c2410c;
  padding: 8px;
  border-radius: 40px;
  width: 100%;
  max-width: 140px;
  text-align: center;
}

.aboutme-left strong {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.heading-aboutme {
  font-size: 3.3rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 360px;
}

.subheading-aboutme {
  line-height: 1.6;
  width: 100%;
  max-width: 500px;
}

.subheading-aboutme p {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 15px;
  color: #4a535e;
}

.project-aboutme {
  max-width: 1200px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.aboutme-card {
  background-color: #ffffff;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 12px 20px;
}

.text-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-card h1 {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  color: #e65c00;
}

.text-card p {
  font-size: 0.94rem;
  font-family: "Inter", sans-serif;
  color: #4a535e;
}

.aboutme-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 610px;
}

.aboutme-right h3 {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
}

.body-content {
  background-color: #ffffff;
  padding: 25px 35px;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-item {
  display: flex;
  gap: 15px;
}

.icon-content {
  background: linear-gradient(135deg, #ff6b023b, #ff990031);
  color: #e65c00;
  padding: 8px 10px;
  border-radius: 7px;
  height: 45px;
}

.icon-content i {
  font-size: 1.6rem;
}

.text-content h5 {
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.text-content p {
  font-size: 0.95rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 260px;
  color: #4a535e;
  line-height: 1.4;
  margin-top: 5px;
}

.btn-reserv {
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: transform 0.2s ease;
}

.btn-reserv:hover {
  transform: scale(1.03);
}

.btn-reserv span {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

/* aboutme end */

/* contact start */

.contact-wrapper {
  padding: 80px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.badge-contact {
  background: linear-gradient(135deg, #ff6b023b, #ff990031);
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  border-radius: 40px;
  padding: 8px;
}

.contact-wrapper strong {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #c2410c;
}

.title-contact {
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.heading-contact {
  font-size: 3.3rem;
  font-family: "Inter", sans-serif;
}

.subheading-contact {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 650px;
  line-height: 1.3;
  color: #4a535e;
}

.contact-form {
  background-color: rgba(190, 121, 96, 0.123);
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  margin-top: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.row .form-group {
  flex: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

label {
  font-size: 0.95rem;
  margin-bottom: 8px;
  color: #374151;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  display: flex;
}

input {
  padding: 14px 10px;
  border-radius: 12px;
  border: 1px solid #6b72805e;
  font-size: 0.95rem;
  outline: none;
  transition: 0.3s ease;
  background-color: #ffffff;
}

textarea {
  width: 100%;
  max-width: 780px;
  border-radius: 12px;
  padding: 44px 10px;
  border: 1px solid #6b728060;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.btn-kirim {
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
  padding: 15px;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  gap: 8px;
  display: flex;
  justify-content: center;
  transition: transform 0.4s ease;
}

.btn-kirim:hover {
  transform: scale(1.03);
}

.btn-kirim i {
  font-size: 1.2rem;
}

.btn-kirim span {
  font-size: 1.2rem;
}

.map {
  padding: 60px 20px;
  text-align: center;
  background-color: #ffffff;
}

.map-container iframe {
  width: 100%;
  max-width: 850px;
  border-radius: 25px;
  height: 400px;
}
/* contact end */

/* footer start */

.footer {
  background: linear-gradient(135deg, #121929, #233044);
  color: #cbd5e1; /* abu terang elegan */
}

.footer-wrapper {
  padding: 60px 20px;
  margin: 0 auto;
}

.project-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-logo i {
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
  padding: 7px;
  border-radius: 7px;
  font-size: 1.6rem;
}

.footer-logo span {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.footer-desc {
  margin-top: 20px;
  width: 100%;
  max-width: 260px;
  line-height: 1.6;
  color: #848688;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer-social i {
  background-color: #ffffff18;
  padding: 7px;
  border-radius: 7px;
  font-size: 1.3rem;
}

.footer-social i:hover {
  transition: 0.3s ease;
  background: linear-gradient(135deg, #ff7a18, #ff3b00);
}

.title-card {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
}

.vehicle-area {
  line-height: 2;
  margin-top: 27px;
}

.vehicle-area li {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #848688;
}

.vehicle-area li:hover {
  color: #f97316;
  transition: 0.3s ease;
}

.info-footer {
  display: flex;
  gap: 10px;
  margin-top: 26px;
}

.info-footer i {
  color: #f97316;
  font-size: 23px;
}

.info-footer p {
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 0;
  margin-top: 30px;
}

.footer-left {
  font-size: 0.94rem;
  font-family: "Inter", sans-serif;
  color: #848688;
}

.footer-right {
  display: flex;
  gap: 25px;
}

.footer-right a {
  text-decoration: none;
  color: #a2a5a8;
  font-size: 0.94rem;
  transition: 0.3s;
  font-family: "Inter", sans-serif;
}

.footer-right a:hover {
  color: #f97316;
}

/* footer end */

@media screen and (max-width: 1403px) {
  .home {
    background-position: center 15%;
  }
}

@media screen and (max-width: 834px) {
  .menu {
    gap: 25px;
  }
  .nav-wrapper .menu .menu-link {
    display: flex;
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .home-wrapper {
    margin-top: -50px;
  }
  .nav-wrapper .mens-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background-color: #ffff;
    padding: 0 25px;
    transition: 0.5s ease-in-out;
  }
  .nav-wrapper .mens-wrapper.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 0.5s ease-in-out;
  }
  .menu-toggle {
    transition: transform 0.5s;
  }
  .menu-toggle.bx-x {
    transform: rotate(
      90deg
    ); /*aku kasih 90deg kesannya biar heboh gitu ketika aku pencet hamburger menu sama icon X itu muternya tidak begitu banyak*/
  }
  .menu {
    display: block;
  }
  .mens-wrapper .menu .menu-item {
    margin: 30px 0;
  }
  .nav-wrapper .menu .menu-link:hover {
    color: #ff3c00cb;
    background-color: rgba(255, 222, 173, 0.116);
  }
  .nav-wrapper .menu-toggle {
    display: initial; /*pake ini biar si hamburger menunya muncul, soalnya di ukuran desktop si hamburger menunya aku hilangin*/
    font-size: 2rem;
  }
  .desktop-btn {
    display: none;
  }
  .btn-order {
    margin: 10px 0;
  }
  .mobile-btn {
    display: block;
  }
  .btn-order:hover {
    transform: scale(1);
  }
  .menu-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-spesial {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-wrapper {
    grid-template-columns: 1fr;
  }
  .body-about {
    flex-wrap: wrap;
  }
  .image {
    height: 450px;
  }
  .image img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .heading-about {
    font-size: 1.79rem;
  }
  .subheading-about {
    font-size: 1.1rem;
  }
  .aboutme-right {
    width: 100%;
    max-width: 750px;
  }
  .aboutme-wrapper {
    flex-wrap: wrap;
  }
  .heading-aboutme {
    font-size: 2.63rem;
    width: 100%;
    max-width: 600px;
  }
  .aboutme-left strong {
    font-size: 1.1rem;
  }
  .badge-aboutme {
    padding: 7px;
  }
  .subheading-aboutme {
    line-height: 1.6;
    width: 100%;
    max-width: 800px;
  }
  .subheading-aboutme p {
    font-size: 1.1rem;
  }
  .project-footer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer-bottom {
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 15px;
  }
  .footer-desc {
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 460px) {
  .info-home3 {
    flex: 0 0 48%;
  }
}

@media screen and (max-width: 511px) {
  .title-icon {
    gap: 5px;
    width: 50%;
    justify-content: center;
    border-radius: 25px 25px;
    padding: 10px 14px;
    border: 1.2px solid #ff78183a;
  }
}

@media screen and (max-width: 320px) {
  .home-wrapper {
    margin-top: -50px;
  }
  .title-icon {
    width: 85%;
  }
  .logo span {
    font-size: 1.3rem;
  }
  .heading-home {
    font-size: 3.5rem;
  }
  .subheading-desc {
    font-size: 1.1rem;
  }
  .home-button {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
  .btn-menu {
    margin-left: -15px;
  }
}

@media screen and (max-width: 526px) {
  .row {
    gap: 1px;
  }
}

@media screen and (max-width: 375px) {
  .heading-contact {
    font-size: 2.5rem;
    margin: 5px auto;
  }
  .subheading-contact {
    font-size: 1.2rem;
    width: 100%;
    max-width: 313px;
  }
  .heading-spesial {
    font-size: 2.4rem;
  }
  .heading-menu {
    font-size: 2.4rem;
  }
  .subheading-menu {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 412px) {
  .heading-menu {
    font-size: 2.4rem;
  }
  .subheading-menu {
    width: 100%;
    max-width: 350px;
  }
  .heading-spesial {
    font-size: 2.5rem;
  }
  .heading-contact {
    font-size: 2.5rem;
    margin: 5px auto;
  }
}

@media screen and (max-width: 912px) {
  .project-footer {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 344px) {
  .title-icon {
    width: 100%;
    max-width: 240px;
  }
  .heading-home {
    font-size: 3rem;
  }
  .home-button {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 457px) {
  .project-footer {
    grid-template-columns: 1fr;
  }
  .info-footer p {
    font-size: 0.94rem;
    margin-top: 2px;
  }
  .info-footer i {
    font-size: 20px;
  }
}

@media screen and (max-width: 414px) {
  .title-icon {
    width: 100%;
    max-width: 240px;
  }
}
